{% extends 'booru/base.html' %}

{% load static %}
{% load booru_templatetags %}

{% block title %}Main{% endblock %}

{% block left %}
	{% show_all_tags %}
	<a href="{% url 'add_picture' %}">Upload your picture</a> <br>
{% endblock %}

{% block main %}
	{% if pictures %}
		{% for picture in pictures %}
			<div class='pic'>
				<a href="{% url 'posts' %}?{% query_transform request id=picture.ID %}"> 
					<img class="thumbnails" src="{{ picture.thumbnail_url.url }}" alt="{{ picture.name }}" /> 
				</a>
			</div>
		{% endfor %}
	{% else %}
		<b>Pictures aren't there</b>
	{% endif %}
{% endblock %}

