{% extends 'base.html' %}

{% load static %}
{% load booru_templatetags %}

{% block title %}{{ picture.name }}{% endblock %}

{% block left %}
    <p>Tags:</p>
    <ul class="tag_list">
        {% for i in picture.tags.names %}
            <a href="{% url 'index' %}?{% query_replace tags=i %}">
                <li>{{ i }}</li>
            </a>
        {% endfor %}
    </ul>
    <p>ID: {{ picture.id }}</p>
    <p><a href="{{ picture.src }}">Source</a></p>
    <p>Rating: {{ picture.rating }}</p>
    <p>Score: {{ picture.score }}</p>
    <p>Uploaded by: <a
            href="{% url 'user_profile' %}?{% query_replace user=picture.uploaded_by %}"> {{ picture.uploaded_by.user.username }} </a>
    </p>
    <p>Date: {{ picture.upload_datetime|date:"d M Y H:i" }}</p>
    <p>Size: {{ picture.file_url.file.size|filesizeformat }}</p>
    <p>Dimensions: {{ picture.image_width }} x {{ picture.image_height }} </p>

{% endblock %}

{% block main %}
    <h3>{{ picture.name }}</h3>
    <a href="{{ picture.file_url.url }}">
        <img src="{{ picture.preview_url.url }}" alt="{{ picture.name }}">
    </a>
{% endblock %}
