{% extends 'base.html' %}

{% load static %}

{% block title %} {{ usr.user.username }} - profile{% endblock %}

{% block left %}
    <a href="{% url 'user_list' %}">All users</a> <br>
{% endblock %}

{% block main %}
    <h1>{{ usr.user.username }}</h1>
    <p>{{ usr.description }}</p>
    <img src="{{ usr.userpic.url }}" alt="{{ usr.user.username }}'s avatar">
    <p>Register date: {{ usr.user.date_joined|date:"d M Y H:i" }}</p>
    <a href="{% url 'index' %}">Return to the homepage.</a><br/>
{% endblock %}
