{% extends 'base.html' %}

{% load static %}

{% block title %}Register{% endblock %}

{% block left %}
{% endblock %}

{% block main %}
	<h1>Register</h1>

	{% if registered %}
		<strong>Registration succeed</strong><br>
	{% else %}
		<form id="user_form" method="post" action="{% url 'user_register' %}"
			enctype="multipart/form-data">

			{% csrf_token %}

			{{ user_form.as_p }}
			{{ user_profile_form.as_p }}

			<input type="submit" name="submit" value="Register" />
		</form>
	{% endif %}
	<a href="{% url 'index' %}">Return to the homepage.</a>
{% endblock %}
